body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#calendarSection {
    margin-top: 30px;
}

#calendarHeader {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #004d40;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;
}

.weekdays, .days {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.day {
    width: 13%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #0097a7;
    background-color: #80deea;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 3px;
}

.day:hover {
    background-color: #4db6ac;
}

.empty {
    background-color: transparent;
}

#noteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#modalContent {
    text-align: center;
}

#noteText, #startTime, #endTime {
    width: 100%;
    margin-bottom: 10px;
}
